* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: rgb(234, 144, 124);
    margin: 0;
}

header {
    padding: 30px;
    text-align: center;
    background-color: rgb(206, 89, 71);
}

.title {
    font-size: 50px;
    color: white;
}

header h2 {
    font-size: 20px;
    background-color: rgb(193, 103, 43);
    padding: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

section {
    background-color: rgb(217, 205, 189);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

section h2 {
    font-size: 30px;
    color: rgb(193, 103, 43);
    text-align: center;
    margin-bottom: 20px;
}

section ul li {
    line-height: 1.6;
}

strong {
    color: rgb(87, 59, 23);
}

em {
    font-style: italic;
    color: rgb(120, 81, 34);
}

